.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.Movie-wrapper {
  border-radius: 20px;
  width: 500px;
  background-color: dodgerblue;
  color: black;
}

.Movie-search {
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  padding: 16px;
  width: 475px;
}

.Movie-title {
  height: 60px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 22px;
}

.Movie-image{
  width: 500px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.Movie-date{
  font-size: 16px;
  font-style: italic;
}

.Movie-rate{
  color:navy;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}